body {
  font-family: 'Google Sans Regular';
}

/* Make content area fill the entire browser window */
html,
.fullscreen {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

/* Center the content in the browser window */
.container {
  margin: auto;
  text-align: center;
}

@font-face {
  font-family: Google Sans Regular;
  src: url(resources/fonts/google_sans_regular.woff2) format('woff2');
}
@font-face {
  font-family: Google Sans Medium;
  src: url(resources/fonts/google_sans_medium.woff2) format('woff2');
}
.title{
  font-family: 'Google Sans Regular';
  font-size:100px;
}
